@import "../theme.css";

/* ===== Base page ===== */
body {
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
  font-family: "Roboto Mono", monospace;
}

.app-layout {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex; /* Enable flexbox */
  flex-direction: column; /* Stack children vertically */
  padding: 0 20px;
  height: 100%;
  scroll-behavior: auto !important;
  min-width: 0; /* Allow shrinking */
}

.ReactVirtualized__Grid__innerScrollContainer {
  width: 100% !important;
}

.app-header-title {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--color-accent-orange-light);
  text-shadow: var(--color-shadow-app-header);
  font-size: 1.5em;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 3px;
  text-align: center;
  border-bottom: 2px solid var(--color-border-sidebar);
  background: none !important;
  overflow-wrap: break-word; /* Allow long filenames to wrap */
}

.file-name-display {
  color: var(--color-accent-orange); /* Amber-orange */
  -webkit-text-fill-color: initial;
  background-clip: initial;
  -webkit-background-clip: initial;
  text-shadow: none;
}
